*{  
    margin: 0px;
    padding: 0px;
    font-size: 62.5%;
    box-sizing: border-box;
    --mainFont: 'Roboto', sans-serif;
}

body{
    color: white;
    font-family: var(--mainFont);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    width: 100vw;
    height: 100vh;

    padding: 3rem;

    background: rgb(2,0,36);
    background: linear-gradient(149deg, rgba(2,0,36,1) 100%, rgba(0,0,89,1) 100%);
}

.body-mode{
    background: #c9b3ff;
}

.night-mode{
    position: fixed;
    top: 10rem;
    right: 10rem;
}

.night-mode:hover{
    cursor: pointer;
}

.timeless{
    background: #d95550 ;
}

.timer{
    text-align: center;
}

.timer-display span{
    
    font-size: clamp(3rem, 9.0rem + 4.5vw, 30rem);
    user-select: none;
}

.timer-display span:hover{
    cursor:default;
}
svg{
    fill: white;
    height: 50px;
    
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 99%;
    
}

.buttons svg{
    width: clamp(5rem, 1rem + 1vw, 7rem);
}

.hide{
    display: none;
}

.sounds{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;
    margin-top: 5rem;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: #643bbc25;
    height: 15rem;
    border-radius: 1rem;
    align-items: center;
    transition: all 300ms ease-in-out;
    z-index: 0;

}


.slider{
   
    position: absolute;
    left: 15%;
    bottom: 2rem;
    width: 70%;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    z-index: 30;
  
}

.slider:hover{
    opacity: 1;
}

@media (max-width: 768px) {
    .night-mode{
        position: static;
        margin: 4rem auto;
        
    }
    .slider{
        bottom: clamp(0.2rem , 1.3rem + 2vh, 1.5rem);
    }

}

@media (min-width: 900px){
    body{
        flex-direction: row;
        gap: clamp(2rem, 1rem + 8vw, 15rem) ;
    }

    .timer-display span{
    
        font-size: clamp(4rem, 8.0rem + 4.5vw, 12.6rem);
    }
    
    .card{
        max-width: 20rem;
    }

    .sounds{
        max-width: 40rem;
        gap: 2rem;
        margin-top: 0px;
    }

    .timer{
        margin-top: -5rem;
    }

  
}

/*------------------------------------ANIMATIONS------------------------------*/
/* Classe para trocar quando selecionar */
.selected{
    animation: buttonsEffect 200ms ease forwards;
}

.card:hover{
    background-color: #643bbc6e;
    transform: scale(1.03);
    cursor: pointer;
}


.buttons svg:hover{
    animation: setEffect 100ms ease forwards;
    cursor: pointer;
}

@keyframes buttonsEffect{
0%{

        background-color: #643bbc6e;
        transform: scale(1.00);
}   

100%{
        background-color: #8257e5;
        transform: scale(1.03);
    }
}

@keyframes setEffect{
    0%{
    
            fill: white;
            transform: scale(1.0)
    }
    
    100%{
            fill: #43d3fd;
            transform: scale(1.1)
        }
    }


