*{  
    margin: 0px;
    padding: 0px;
    font-size: 62.5%;
    box-sizing: border-box;
    --mainFont: 'Roboto', sans-serif;
}

body{
    color: white;
    font-family: var(--mainFont);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    width: 100vw;
    height: 100vh;

    background: rgb(2,0,36);
    background: linear-gradient(149deg, rgba(2,0,36,1) 100%, rgba(0,0,89,1) 100%);
}

.timer-display span{

    font-size: clamp(5rem, 8rem + 1vw, 10rem);
}

svg{
    fill: white;
    
}

.buttons{
    display: flex;
    justify-content: space-between;
    
}

.buttons svg{
    width: 4rem;
}

.hide{
    display: none;
}

.sounds{
    display: flex;
}